.box .left .wrapper {
  width: 353px;
  text-align: center;
}
.link-list {
  display: flex;
  justify-content: space-evenly;
  align-items: stretch;
  margin-top: 20px;
}
.link-line {
  width: 1px;
  background: #ccc;
}
.input-list {
  margin-bottom: 20px;
}
