<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>이름을 입력하세요</p>
    <form action="/todo">
      <input name="name" />
      <button>입력</button>
    </form>
  </body>
</html>
